@font-face {
  font-family: TradeGothicLTCom-BdCn20;
  src: url(../fonts/Trade-Gothic-LT-Com-Bold-Condensed-No--20.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: TradeGothicLTCom, Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
}

.flexbox {
  display: flex;
}

.centeringed-vertical-parent {
  position: relative;
}

.centeringed-vertical-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.zero {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header {
  display: table;
  width: 100%;
  height: 60px;
  position: relative;

  .header-logo-container {
    display: table-cell;
    vertical-align: middle;
    width: 500px;
    padding-left: 35px;

    .header-logo {
      display: block;
      background: url(../images/logo-ni.svg) no-repeat;
      background-size: 196px 30px;
      width: 196px;
      height: 30px;
    }
  }

  .header-navi {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    line-height: 1;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      line-height: 3.1;

      a {
        position: relative;
        font-size: 1.125rem;
        color: #303030;
        margin: 0 7px;
        padding: 0;
        width: 100%;
        line-height: 2.75;
        letter-spacing: 0.02em;
        font-family: TradeGothicLTCom-BdCn20, Helvetica Arial, sans-serif;
      }

      a.active + span.border {
        background: #555;
      }

      a:hover + .border {
        background: #555;
      }

      .border {
        display: block;
        background: transparent;
        height: 4px;
      }

      .border.active {
        background: #555;
      }
    }

    li:not(:last-child) {
      margin-right: 50px;
    }
  }

  .header-icons {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 500px;
    padding: 0 25px 0 0;

    a {
      position: relative;
      font-size: 1em;
      line-height: 1.5;
      padding: 10px 15px;
    }
  }
}

.guitar-rig-pro {
  position: relative;
  width: 100%;

  img {
    position: relative;
    width: 100%;
  }

  .guitar-rig-logo {
    position: absolute;
    width: 70%;
    max-width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.content-header {
  display: table;
  background-color: #2a2e2c;
  color: #f5f5f5;
  width: 100%;
  height: 60px;

  .name-container {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px 0 35px;
    white-space: nowrap;
    width: 300px;

    h1 {
      font-size: 1.875rem;
      line-height: 1.3;
      letter-spacing: 0.05em;
      margin: 0;
    }
  }

  .navi-container {
    display: table-cell;
    vertical-align: bottom;
    padding: 0;
    text-align: left; 

    ul {
      font-family: TradeGothicLTCom, Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 400;
      font-style: normal;
      white-space: nowrap;
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        line-height: 3.5;
        margin-right: 5px;
        margin-left: 5px;
        text-align: left;

        a {
          margin-top: 0;
          padding: 0 8px;
          font-family: TradeGothicLTCom, Helvetica, Arial, sans-serif;
          font-size: 0.875rem;
          font-weight: 400;
          white-space: nowrap;
          letter-spacing: 0.02em;
        }

        .border {
          display: block;
          background-color: transparent;
          height: 4px;
        }

        a:hover + .border {
          background-color: #555;
        }
      }
    }
  }

  .price-button-container {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
    text-align: right;
    padding-right: 35px;
    padding-left: 20px;

    > div {
      display: table;
    }

    .price-container {
      display: table-cell;
      vertical-align: middle;
      font-size: 1rem;
      line-height: 20px;
      padding-right: 20px;

      > div {
        display: table;
      }

      .update {
        font-size: 13px;
      }
    }

    .button-container {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;

      > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      a {
        background-color: #666872;
        padding: 6px 14px;
        margin-right: 8px;

        span {
          font-family: TradeGothicLTCom, Helvetica, Arial, sans-serif;
          font-weight: 400;
          line-height: 1.3;
        }
      }
    }
  }
}

.perfect-custom-tone {
  background-color: #fff;

  .container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;

    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      margin: 0 0 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        font-size: 22px;
        color: #666;
        margin: 0;
        padding: 10px 0 10px 20px;
        font-style: italic;
        list-style: none;
        font-family: TradeGothicLTCom-Cn18, Helvetica, Arial, sans-serif;
      }

      li::before {
        display: inline-block;
        position: absolute;
        top: 24px;
        left: 5px;
        height: 12px;
        width: 7px;
        content: "";
        background-image: url(./images/arrow-right.svg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    .play {
      padding-top: 30px;

      .media {
        margin-bottom: 20px;

        a {
          display: table;
        }

        .text {
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px;
          font-size: 16px;
          font-size: 1rem;
        }

        .icon {
          width: 50px;
          height: 50px;
        }

        .movie {
          display: table-cell;
          background: url(../images/arrow-right2.svg) no-repeat;
          background-size: 50px 50px;
        }

        .audio {
          display: table-cell;
          background: url(../images/play.svg) no-repeat;
          background-size: 50px 50px;
        }
      }
    }
  }
}

.perfect-custom-tone-gallery {
  color: #222;
  background: #eee;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  .text-container {
    width: 100%;
    max-width: 930px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      line-height: 1.2;
      margin: 0 0 20px;
      font-family: TradeGothicLTCom-BdCn20, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.01em;
    }

    .description {
      font-size: 1em;
      line-height: 1.8;
    }
  }

  img {
    margin-top: 40px;
  }
}

.computer-image {
  background: url(../images/crop-left-guitar-rig.jpg) no-repeat;
  background-size: 100% auto;
  color: #f5f5f5;
}

.cabinets {
}

.effect-rack {
  background: url(../images/effect_rack.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
}

.complete-control {
}

.free-guitar-rig {
  background-color: gray;
}

.related-products {
}

.social-button-container {
  background-color: gray;
}

.footer {
  background-color: #2a2e2c;
  color: #f5f5f5;
}
