@font-face {
  font-family: TradeGothicLTCom-BdCn20;
  src: url(../fonts/Trade-Gothic-LT-Com-Bold-Condensed-No--20.ttf)
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: TradeGothicLTCom,Helvetica,Arial,sans-serif;
  font-size: 1em;
}

h1 {
  font-family: TradeGothicLTCom-BdCn20,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .01em;
}

header {
  display: table;
  width: 100%;
  height: 60px;
}

.flexbox {
  display: flex;
}

.header-logo {
  display: table-cell;
  background: url(../images/logo-ni.svg) no-repeat;
  background-size: 196px 30px;
  width: 196px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .header-navi {
    display: table-cell;
  }
}

.header-navi {
  text-align: center;
  li {
	display: inline-block;
	list-style: none;
	margin-right: 50px;
  }
  a {
	color: #303030;
	font-size: 1.125em;
	font-family: TradeGothicLTCom-BdCn20,Helvetica,Arial,sans-serif;
  }
}

.header-icons {
  a.account {
	background: url(../images/icon-account.svg) no-repeat;
  }
  a.cart {
    background: url(../images/) no-repeat;
  }
  a.search {
	background: url(../images/icon-search.svg) no-repeat;
  }
}

.guitar-rig-pro {
  background: url(../images/img-welcome-hero-guitar-rig-5-pro.jpg) no-repeat;
  width: 100%;
  height: 500px;
}

.content-header {
  background-color: #2a2e2c;
  color: #f5f5f5;
  height: 60px;
  display: flex;
  .name-container {
    h1 {
      margin: 0px;
    }
  }
  .navi-container {
       
  }
  .price-button-container {
     margin-left: auto;
     display: flex;
    .price-container {
            
    }
    .button-container {
            
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      font-family: TradeGothicLTCom,Helvetica,Arial,sans-serif;
      margin-left: 5px;
      margin-right: 5px;
      text-align: left;
    }
  }
}

.content {
  background-color: #f5f5f5;

  .container {
    display: flex;
    justify-content: space-around;
  }
}

.perfect-custom-tone {
  background-color: gray;

}

.perfect-custom-tone-gallery {
  background: url(../images/crop-left-guitar-rig.jpg) no-repeat;
  background-size: 100% auto;
  color: #f5f5f5;
}

.computer-image {
  background-color: gray;
  height: 50px;
}

.cabinets {
  height: 50px;
}

.effect-rack {
  background-color: gray;
  height: 50px;
}

.complete-control {
  height: 50px;
}

.free-guitar-rig {
  background-color: gray;
  height: 50px;
}

.related-products {
  height: 50px;
}

.social-button-container {
  background-color: gray;
  height: 50px;
}

.footer {
  height: 50px;
}
