* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: museo-slab;
  src: url(./images/Museo700-Regular.ttf);
}

@font-face {
  font-family: sofia-pro;
  src: url(./images/sofiapro-regular.ttf);
}

@font-face {
  font-family: "icomoon";
  src:  url(./images/icomoon.eot);
  src:  url(./images/icomoon.eot#iefix) format('embedded-opentype'),
        url(./images/icomoon.woff2) format('woff2'),
        url(./images/icomoon.ttf) format('truetype'),
        url(./images/icomoon.woff) format('woff'),
        url(./images/icomoon.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #1f2a2a;
}

section {
  position: relative;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  z-index: 1;
}

section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.68;
    font-family: "sofia-pro", sans-serif;
  }

section h2 {
    margin-bottom: 25px;
  }

section a {
    color: #1f2a2a;
  }

h2 {
  font: 700 27px/1 "museo-slab", sans-serif;
  color: #1f2a2a;
  letter-spacing: .01em;
}

h3 {
  font: 700 12px/1 "sofia-pro", sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.spaced {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.content-container {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  padding: 22px 25px;
  background-color: #fff;
  display: inline-block;
  position: relative;
}

.button.no-box {
    padding: 0;
    background: none;
  }

.button span, .button p {
    display: inline-block;
    vertical-align: middle;
  }

.button .icon {
    font-size: 15px;
    margin-left: 22px;
    color: #1f2a2a;
    transition: transform 0.3s ease-out;
  }

.button p {
    font: 700 12px/1 'sofia-pro', sans-serif;
    letter-spacing: .1em;
    color: #1f2a2a;
  }

.icon-logo-text::before {
  content: "\E904";
}

.icon-bracket-l::before {
  content: "\E901";
}

.icon-bracket-r::before {
  content: "\E902";
}

.icon-brackets::before {
  content: "\E903";
}

.icon-arrow-right::before {
  content: "\E906";
}

.icon-arrow-down::before {
  content: "\E905";
}

.button:hover > .icon-arrow-right {
    transform: translateX(7px);
  }

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

a {
  text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 20;

}

.header .sticky {
        position: absolute;
        left: 0;
        top: -62px;
        width: 100%;
        height: 62px;
        background-color: #fff;
        transition: transform 0.4s;
    }

.header .sticky.on {
            transform: translateY(62px);
        }

.header .logo {
        position: absolute;
        top: 35px;
        left: 40px;
        z-index: 23;
        transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

.header .logo a {
            text-decoration: none;
        }

.header .logo .icon-part {
            position: absolute;
            color: #fff;
        }

.header .logo .icon-logo-text {
            font-size: 39px;
            left: 57px;
            top: 6px;
        }

.header .logo .icon-bracket-l {
            font-size: 46px;
            top: 18px;
        }

.header .logo .icon-bracket-r {
            font-size: 46px;
            left: 0;
            top: 0;
        }

.header.has-sticky .logo {
            transform: scale(0.6) translate(-30px, -30px);
        }

.header.has-sticky .logo .icon-part {
                color: #172f49;
            }

.hero-container {
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}

.hero-container .content-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: stretch;
        z-index: 3;
    }

.hero-container .content-container p, .hero-container .content-container h1 {
            color: #fff;
        }

.hero-container .content-container p {
            font-family: sofia-pro;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.1em;
        }

.hero-container .content-container h1 {
            font-family: museo-slab;
            font-size: 78px;
            font-weight: 700;
            line-height: 1.35;
            letter-spacing: 0.02em;
            margin-top: 40px;
        }

@media screen and (max-height: 768px) and (min-width: 1025px) {
            .hero-container .content-container h1 {
                font-size: 60px;
                margin-top: 20px;
            }
        }

.hero-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image1 {
    background-image: url(./images/home-hero1.jpg);
}

.hero-text {
    width: 100%;
    position: relative;
    margin-top: -170px;
}

.hero-text .arrow-next {
        position: absolute;
        right: 0;
        bottom: 18px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-out;
    }

.hero-text .arrow-next .icon {
            font-size: 26px;
            color: #fff;
        }

.hero-text .arrow-next:hover {
        transform: translateY(7px);
    }

.hero-text .slider-timer {
        position: absolute;
        right: 30px;
        bottom: -150px;
        text-align: right;
    }

.hero-text .slider-timer .slider-time-circle {
            position: relative;
            display: inline-block;
            width: 34px;
            height: 34px;
            cursor: pointer;
        }

.hero-text .slider-timer .slider-time-circle svg {
                position: absolute;
                left: 0;
                top: 0;
                width: 34px;
                height: 34px;
                opacity: 0.4;
            }

.hero-text .slider-timer .slider-time-circle ~ .slider-time-circle {
            margin-left: 15px;
        }

@media screen and (max-height: 768px) and (min-width: 1025px) {
    .hero-text {
        margin-top: -80px;
    }

        .hero-text .arrow-next {
            bottom: 0;
        }

        .hero-text .slider-timer {
            bottom: -110px;
        }
}

.home-container {
    margin-top: -170px;
    overflow: hidden;
    padding: 160px 120px;
}

.home-container .home-fill {
        position: absolute;
        left: 0;
        top: 170px;
        width: 70px;
        height: 100%;
        background-color: #fff;
        z-index: 1;
    }

.home-container .home-patterns {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

.home-container .home-patterns .pattern {
            position: absolute;
            opacity: .15;
        }

.home-container .home-patterns .pattern[data-num="1"] {
            width: 965px;
            right: -385px;
            top: -145px;
        }

.home-container .home-patterns .pattern[data-num="2"] {
            width: 686px;
            left: -240px;
            top: -170px;
        }

.home-container .content-container {
        padding-top: 170px;
    }

.home-container .col {
        position: relative;
    }

.home-container .col.left {
            width: 50%;
        }

.home-container .col.right {
            width: 38%;
        }

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 21;
}

.menu .menu-icon {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 70px;
        height: 150px;
        background-color: #1f2a2a;
        transition: height 0.4s;
        overflow: hidden;
    }

.menu .menu-icon .menu-line {
            width: 24px;
            height: 0.15em;
            background-color: #fff;
            position: absolute;
            left: 23px;
            top: 30px;
        }

.menu .menu-icon .menu-line.top {
                transform: translate3d(0, -10px, 0);
            }

.menu .menu-icon .menu-line.middle {
                transform-origin: center center;
            }

.menu .menu-icon .menu-line.bottom {
                transform: translate3d(0, 10px, 0);
            }

.menu .menu-icon .menu-icon-text {
            position: absolute;
            left: 50%;
            top: 95px;
            margin-left: -20px;
            font-family: sofia-pro;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #fff;
            transform: rotate(90deg);
        }

.menu .menu-icon .menu-hit {

        }

.menu.has-sticky .menu-icon {
            height: 63px;
        }

.project-container {
    padding: 0;
    margin-top: -210px;
    z-index: 2;
}

.project-container .button .icon {
        color: #fff;
    }

.project-container .content-container {
        padding: 0 70px;
        margin:0 auto;
        width: 100%;
        max-width: 1340px;
    }

.project-container .content-container .row {
            max-width: 1010px;
            margin-bottom: 215px;
        }

.project-container .content-container .row a {
                text-decoration: none;
            }

.project-container .content-container .row a p {
                    color: #fff;
                    font-family: sofia-pro;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 0.1em;
                }

@media screen and (max-height: 768px) and (min-width: 1025px) {
    .project-container {
        margin-top: -180px;
    }
}

.project-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 132px;
    left: -70px;
    background-color: #edfcfb;
}

.project {
    position: relative;
    width: 62%;
    max-width: 578px;
    height: 568px;
    background-color: #172f49;
    padding: 34px 40px 40px;
    overflow: hidden;
}

.project .background-pattern {
        width: 630px;
        position: absolute;
        left: 130px;
        top: -150px;
        opacity: 0.15;
    }

.project .bottom {
        position: absolute;
        left: 0;
        bottom: 5px;
        padding: 40px;
    }

.project .bottom .icon-brackets {
            color: #285280;
            font-size: 60px;
            margin-bottom: 35px;
            display: block;
        }

.project .bottom p {
            color: #fff;
            font-family: sofia-pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.68;
        }

.people {
    position: relative;
    width: 35%;
    max-width: 318px;
    height: 184px;
    background-color: #495c4b;
    margin-top: 95px;
    padding: 30px;
}

.projects {
    position: relative;
    margin-top: -25px;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 70px;
}

.projects .project-wrap {
        position: relative;
        margin-top: -50px;
    }

.projects .project-wrap .project-row {
            position: relative;
        }

.projects .project-wrap .project-row .project-box {
                position: relative;
            }

.projects .project-wrap .project-row .project-box .image-container {
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    margin-bottom: 20px;
                }

.projects .project-wrap .project-row .project-box p {
                    font-size: 14px;
                }

.projects .project-wrap .project-row .project-box h3 {
                    margin-bottom: 5px;
                }

.projects .project-wrap .project-row .project-box .image {
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    background-size: cover;
                    background-position: center top;
                    background-repeat: no-repeat;
                }

.projects .project-wrap .project-row .project-box.academic-container {
                    width: 58%;
                    max-width: 807px;
                }

.projects .project-wrap .project-row .project-box.academic-container .image {
                        background-image: url(./images/academic.jpg);
                    }

.projects .project-wrap .project-row .project-box.historic-container {
                    width: 38%;
                    max-width: 514px;
                }

.projects .project-wrap .project-row .project-box.historic-container .image {
                        background-image: url(./images/historic.jpg);
                    }

.projects .project-wrap .project-row .project-box.academic-container2 {
                    width: 48%;
                    max-width: 407px;
                }

.projects .project-wrap .project-row .project-box.academic-container2 .image {
                        background-image: url(./images/StevenHollArchitects_IAS_WestEntry_WH.jpg);
                    }

.projects .project-wrap .project-row .project-box.historic-container2 {
                    width: 48%;
                    max-width: 407px;
                }

.projects .project-wrap .project-row .project-box.historic-container2 .image {
                        background-image: url(./images/DSC_0041.jpg);
                    }

.projects .project-wrap .project-row .project-box.multifamily-container .image {
                        background-image: url(./images/2_roeblinglofts_exteriorafter-1.jpg);
                    }

.projects .project-wrap[data-num="1"] .project-row {
            max-width: 1430px;
        }

.projects .project-wrap[data-num="1"] .project-row .project-box {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: flex-start;
                align-content: stretch;
            }

.projects .project-wrap[data-num="2"] {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 115px;
    }

.projects .project-wrap[data-num="2"] .project-row {
            max-width: 930px;
        }

.projects .project-wrap[data-num="3"] .project-row {
            width: 100%;
            display: inline-block;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            align-content: stretch;
        }

.projects .project-wrap[data-num="3"] .project-row .project-box {
                width: 58%;
                max-width: 807px;
            }

.projects .project-wrap[data-num="3"] .button {
            transform: translateY(-125px);
        }

.projects .project-wrap[data-num="3"] .button .icon {
                color: #1f2a2a;
            }
