.article-container {
    width: 60rem;

    .side-banner {
        float: right;
        min-height: 38.75rem;
        margin-right: 1.2rem;
        margin-bottom: 1.25rem;

        img {
            border: 0pt none;
            display: inline-block;
            width: 300px;
            height: 600px;
        }
    }

    .article {
        position: relative;
        float: left;
        width: 18.75rem;
        min-height: 18.75rem;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
        padding: 1.25rem;
        background-color: #fff;
        opacity: 1;
        transition: opacity 0.1s ease-in-out;

        img {
            width: auto;
            max-height: 9.125rem;
            margin-bottom: 1rem;
        }
    }

    .article:hover {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
    }

    .article-large {
        position: relative;
        float: left;
        max-width: 28.75rem;
        height: 23.875rem;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
        padding: 1.25rem;
        background-color: #fff;
        opacity: 1;
        transition: opacity 0.1s ease-in-out;

        img {
            width: 420px;
            margin-bottom: 1rem;
        }

        h1 {
            margin-bottom: .375rem;
        }

        .time {
            position: unset;
            bottom: 0;
        }
    }
    
    .article-large:hover {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
    }

    a {
        text-decoration: none;
    }

    .category {
        font-family: 'Forza A', 'Forza B','Helvetica Neue', Helvetica, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'MS ゴシック', 'MS Gothic', sans-serif;
        font-weight: 500;
        letter-spacing: .1em;
        margin-bottom: 1.125rem;
        color: grey;
    }

    h1 {
        font-size: .875rem;
        max-height: 3em;
        overflow: hidden;
        color: #000;
        line-height: 1.55em;
    }

    .time {
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        font-style: italic;
        color: gray;
        font-size: .75rem;
        font-weight: 400;
        letter-spacing: .06em;
    }

    .advertize-container {
        float: left;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;

        img {
            width: 300px;
            height: 100px;
        }
    }

    .new-article-container {
        position: relative;
        float: left;
        padding: 1.25rem;
        background-color: #fff;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;

        .title {
            margin-bottom: 1.25rem;

            h1 {
                font-size: .875rem;
                margin-bottom: .4em;
                font-family: 'Vitesse A', 'Vitesse B','Helvetica Neue', Helvetica, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'MS ゴシック', 'MS Gothic', sans-serif;
                font-weight: 500;
                letter-spacing: .1em;
                color: gray;
            }

            p {
                font-weight: bolder;
                font-size: .75rem;
                color: gray;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 1.0625rem;
                opacity: 1;
                transition: opacity 0.2s ease-in-out;

                img {
                    width: 3.4375rem;
                }
            }

            li:hover {
                opacity: 0.5;
                transition: opacity 0.2s ease-in-out;
            }
        }

        .article-title {
            font-size: .75rem;
            line-height: 1.6em;
            color: #000;
            float: left;
            width: 12.125rem;
            margin-right: .625rem;
            max-height: 3.25rem;
            overflow: hidden;

            .category {
                margin-bottom: 0;
                color: gray;
            }
        }
    }
}