.header {
  display: block;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 10300;

  h1 {
    padding: 1rem 0;
  }

  .logo {
    display: block;
    background: url(../images/logo-wired.svg) no-repeat;
    width: 7.5rem;
    height: 1.5rem;
    margin: 0 auto;
  }

  .humberger {
    position: absolute;
    right: 1.125rem;
    top: 1.125rem;
    background: url(../images/icon-humberger.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: $break-point) {
  .header {
    h1 {
      padding: 17px 0;
    }

    .humberger {
      top: 16px;
    }
  }
}