.main-container {
    display: block;
    position: relative;
    width: 60rem;
    margin: 0 auto;
    padding-top: 5.25rem;
}

.image-slider {
    background: url(../images/180123-unseen-1080.jpg) no-repeat;
}