.main-container {
    display: block;
    position: relative;
    width: 58.75rem;
    margin: 0 auto;
    padding-top: 4.8rem;
}

@media screen and (max-width: $break-point) {
    .main-container {
        width: unset;
        padding-top: 68px;
    }
}
