@font-face {
  font-family: TradeGothicLTCom-BdCn20;
  src: url(../fonts/TradeGothicLTCom-BdCn20.woff);
}

@font-face {
  font-family: TradeGothicLTCom;
  src: url(../fonts/TradeGothicLTCom.woff);
}

@font-face {
  font-family: TradeGothicLTCom-Cn18;
  src: url(../fonts/TradeGothicLTCom-Cn18.woff);
}
