.related-products {
  color: #222;
  background-color: #eee;
  text-align: center;

  .product-header {
    margin: 0 auto 50px;
  }

  .product-container {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;

      .product {
          width: 428px;
          margin-left: 15px;
          margin-right: 15px;
          border: 1px solid #ddd;
          background-color: #fff;

          .image-container {
            position: relative;
            text-align: center;
            min-height: 200px;
            overflow: hidden;

              .player-icon {
                  background: url(../images/play2.svg) no-repeat;
                  display: block;
                  padding: 0;
                  width: 34px;
                  height: 34px;
                  background-color: rgba(0,0,0,.2);
                  border-radius: 50%;
                  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
                  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));

                  display: inline;
                  position: absolute;
                  height: 34px;
                  width: 34px;
                  bottom: 15px;
                  left: 50%;
                  -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
                  z-index: 1;
              }
          }

          .title {
            font-family: TradeGothicLTCom-BdCn20,Helvetica,Arial,sans-serif;
            letter-spacing: .03em;
            font-size: 20px;
            font-size: 1.25rem;
            position: relative;
            width: 100%;
            margin: 0;
            padding: 30px 20px 0;
          }

          .description {
            font-size: .875rem;
            line-height: 1.6em;
            margin: 15px 20px 0;
          }

          .price {
            display: table;
            width: 100%;
            padding: 20px 40px 30px;

            .full-version {
              font-size: 12px;
              font-size: .75rem;
              line-height: 1;
              height: 20px;
              padding-bottom: 5px;
            }

            .amount {
              font-size: 16px;
              font-size: 1em;
              letter-spacing: .02em;
              line-height: 1;
            }
          }

          img {
              max-width: 100%;
          }
      }
  }
}
