.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 20;

    .sticky {
        position: absolute;
        left: 0;
        top: -62px;
        width: 100%;
        height: 62px;
        background-color: #fff;
        transition: transform 0.4s;

        &.on {
            transform: translateY(62px);
        }
    }

    .logo {
        position: absolute;
        top: 35px;
        left: 40px;
        z-index: 23;
        transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);

        a {
            text-decoration: none;
        }

        .icon-part {
            position: absolute;
            color: #fff;
        }

        .icon-logo-text {
            font-size: 39px;
            left: 57px;
            top: 6px;
        }

        .icon-bracket-l {
            font-size: 46px;
            top: 18px;
        }

        .icon-bracket-r {
            font-size: 46px;
            left: 0;
            top: 0;
        }
    }

    &.has-sticky {
        .logo {
            transform: scale(0.6) translate(-30px, -30px);
            .icon-part {
                color: #172f49;
            }
        }
    }

}